.clemson-body {
    background-color: #ebebeb !important;
}

.index-body {
    background-color: #ebebeb !important;
    padding-top: 2rem !important;
    color: #525252 !important;
}

.navbar-border {
    border-bottom: 1px solid black !important;
}

.jumbotron-clemson {
    background-image: url("/img/header-background.jpg") !important;
    background-size: cover !important;
    min-height: 250px !important;
}

.font-white {
    color: #ffffff !important;
}

.font-off-white {
    color: #c0c0c0 !important;
}

.drop-shadow {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3) !important;
}

.border-box {
    border-radius: 5px !important;
    background-color: #ffffff !important;
    border: 1px #acacac solid !important;
    padding: 20px !important;
    margin: 10px !important;
}

.pt-1 {
    padding-top: 1rem !important;
}

.pt-2 {
    padding-top: 2rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.pb-1 {
    padding-bottom: 1rem !important;
}

.mh-48 {
    min-height: 48px !important;
}

.mw-150 {
    min-width: 150px !important;
}

.ml-half {
    margin-left: 0.5rem !important;
}

.mr-half {
    margin-right: 0.5rem !important;
}

.icon-link-div {
    display: inline-block !important;
    margin-bottom: 2rem !important;
}
